.headerContainer {
  display: flex;
  justify-content: space-between;
  background: rgba(37, 39, 42, 0.95);
  height: 80px;
  line-height: 40px;
  padding: 20px;
  box-sizing: border-box;
}

.headerContainer__logo {
  display: flex;
}

.headerContainer__logo h1 {
  margin: 0;
  font-size: 24px;
  margin-right: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 400;
}

.headerContainer__logo img {
  object-fit: cover;
  height: 40px;
  margin: auto 0;
}